[submodule "makefiles/onf-lib"]
	path = makefiles/onf-lib
	url = https://github.com/opencord/lf-bb-make.git
[submodule "lf/lf-bb-make"]
	path = lf/lf-bb-make
	url = https://github.com/opencord/lf-bb-make.git
