[submodule "makefiles/onf-lib"]
	path = makefiles/onf-lib
	url = https://github.com/opencord/onf-make.git
[submodule "onf/onf-make"]
	path = onf/onf-make
	url = https://github.com/opencord/onf-make.git
