# build related
venv_docs
_build
repos

# subrepos
bbsim
ofagent-go
openolt
pyvoltha
voltha-go
voltha-openolt-adapter
voltha-openonu-adapter
voltha-protos
voltha-system-tests
voltctl
cord-tester

# IDEs
.idea
